$font-stack: Helvetica, sans-serif;

@import 'button','input';

body{
  //Base body centers everything
  text-align: center;
  margin: auto;
  font: $font-stack;
}

p{
  display: inline-block;
}

body.Light{
  //Light Theme
  background-color: #c2d3da;
  button{
    @extend button, .light;
  }
  input{
    @extend input, .light;
  }
}

body.Dark{
  //Dark Theme
  background-color: #0d001a;
  color: #f1e0d6;
  button{
    @extend button, .dark;
  }
  input{
    @extend input, .dark;
  }
}

body.Colors{
  //Colors Theme
  background-color: #efc432;
  color: #000000;
  button{
    @extend button, .colors;
  }
  #func{
    @extend button, .func;
  }
  input{
    @extend input, .colors;
  }
}

.links{
  font-size: 16pt;
  margin: 4px;
}
